
/* Import the font */
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Use the font */
body {
  font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
  }
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  .container {
    height: 130%;
  }
.container{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(12, 1fr);
    /* border: 2px red solid; */
}
.sidebar{
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 13;
    border: red solid 1px;
    display: grid;
    grid-template-rows: 1fr 260px 2fr 1fr;
    background-color: #0284c7;
    grid-template-columns: 1fr 3fr;
}
.sidebar-list{
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  display: grid;
  justify-content: start;
  font-size: 20px;
  text-align: start;
  color: white;
  font-weight: 500;
  grid-row-start: 2;
  grid-column-start: 2;
  margin-left: 20px;
}

.sidebar-list-2{
  margin-top: 35px;
  grid-template-rows: repeat(4, 1fr) 40px;
  display: grid;
  justify-content: start;
  margin-left: 20px;
  font-size: 20px;
  color: white;
  grid-row-start: 3;
  align-items: center;
  justify-content: start;
  grid-column-start: 2;
}
.svg-list1{
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  justify-items: end;
  align-items: center;
  
}
.svg-list2{
  grid-row-start: 3;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  margin-top: 40px;
  justify-items: end;
  align-items: center;
}
.sidebar-list-2 li{
  margin-right: 45px;
}

ul {
  list-style-type: none;
}

.head{
  font-size: 25px;
  justify-items: start;
  margin-left: 20px;
  align-items: flex-start;
  margin-top: 20px;
  display: grid;
  color: white;
  grid-column-start: 2;
  align-self: center;
  
}

.header{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    border: red solid 1px;
    grid-template-rows: 2fr 3fr;
    display: grid;
}
.bar1{
  display: grid;
  justify-content: flex-start;
  align-items: center;
  grid-template-columns: 2fr 1fr;
}
.bar1-right{
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}
.magnify{
  margin-left: 30px;
  margin-right: 5px;
  grid-column-start: 1;
  grid-row-start: 1;
}
.searchbar{
  height: 25px;
  width: 500px;
  
  margin-left: 60px;
  border-radius: 20px;
  background-color: lightgray;
  grid-column-start: 1;
  grid-row-start: 1;
}
.container-2{
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 13;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: lightgray;
  grid-template-rows: 50px;
}
.titles{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-template-columns: 3fr 1fr;
  justify-items: start;
  align-items: end;
  font-size: 20px;
  font-weight: 500;
}
.card-title{
  grid-column-start: 1;
  margin-left: 20px;
}
.announcements-title{
  grid-column-start: 2;
}
.rightbar{
  grid-column-start: 2;
  border: 1px blue solid;
  grid-row-start: 2;
  
}
.cardbox{
  /* border: solid green 1px; */
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 20px;
  gap: 25px;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 20px;
}
.card{
  background-color: white;
  display: grid;
  border-radius: 15px;
  grid-template-columns:  10px 1fr;
  grid-template-rows: 1fr 1fr;
}
.blueside{
  background-color: #88c7ff;
  border-radius: 5px;
  grid-row-start: 1;
  grid-row-end: 3;
  
}
.card-textbox{
  grid-column-start: 2;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  justify-items: start;
}
.card-text{
  grid-row-start: 2;
  justify-items: center;
  margin-left: 10px;
  display: grid;
  font-weight: bold;
  font-size: 17px;
  
}
.card-text2{
  grid-row-start: 3;
  justify-items: start;
  text-align: start;
  margin-left: 10px;
  display: grid;
  font-size: 16px;
  font-weight: 300;
}
img{
  height: 25px;
  width: 25px;
  color: white;
}
.head-img {
  height: 40px;
  width: 40px;
  align-self: center;
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  justify-self: end;
  margin-top: 10px;
  margin-left: 20px;
}
.chess-img{
  height: 45px;
  width: 45px;
  border-radius: 50%;

}
.username{
  font-weight: bold;
  margin-left: 5px;
  font-size: 16px;
}
.bar2{
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-self: center;
}
.profile2{
  height: 65px;
  width: 65px;
  border-radius: 50%;
  margin-left: 30px;
  grid-column-start: 1;
  grid-row-start: 1;
}

.namebox{
  grid-column-start: 1;
  grid-row-start: 1;
  display: grid;
  grid-template-rows: 1fr 1fr;
  justify-items: start;
  align-items: end;
  width: 300px;
  margin-left: 110px;
}
.namebox-line1{
  font-size: 12px;
  font-weight: bold; 
  margin-left: 5px;
}
.namebox-line2{
  font-size: 23px;
  font-weight: bold;
}
.buttons{
  grid-column-start: 2;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-items: end;
}
.action-btn{
  color: white;
  font-weight: 500;
  background-color: rgba(25,146,212,255);
  width: 75px;
  height: 30px;
  border-radius: 15px;
  border: none;
}
